<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>        
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/bootstrap")
</head>
<body data-spy="scroll" data-target=".nav-list" style="padding-top:40px;">    
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <a class="brand" href="@Url.Action("Index","Home")">CHIP-8</a>
        <ul class="nav">
          <li><a href="@Url.Action("Index","Home")">Applications</a></li>
          <li><a href="@Url.Action("Today","Home")">Today</a></li>
          <li><a href="@Url.Action("VirtualMachine","Home")">Virtual machine</a></li>
        </ul>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <!--Sidebar content-->
            @RenderSection("sidebar", required:false)
        </div>
        <div class="span10">
          <!--Body content-->
            @RenderBody()
        </div>
      </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        $('ul.nav a').filter(function () {
            return this.href == window.location;
        }).parent().addClass('active');
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
